.page-info div {
    padding: 0.5rem;
}

.languages {
    background: linear-gradient(180deg, #2E9AD6 0%, rgba(224, 185, 84, 0.00) 100%);
}

.frameworks {
    background: linear-gradient(180deg, rgba(224, 185, 84, 0.00) 0%, #2E9AD6 100%);
}

.languages div,
.frameworks div {
    border-bottom: 1px solid black;
}