* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background: linear-gradient(180deg, #FB8074 0%, #E0B954 100%);
    min-height: 100vh;
}

/* Page Heading */

.title, h2, h3 {
    text-decoration: underline;
    text-align: center;
    font-size: 1.25rem;
}

.name {
    margin-block-end: 0.5rem;
    text-transform: uppercase;
}

.address span {
    display: block;
    line-height: 1;
}

.street {
    margin-top: 0.5rem;
}

p {
    margin: 0.5rem;
}

/* Navigation */

.navigation {
    display: flex;
    justify-content: space-around;
    background: #F2AC85;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 1.15rem;
    font-weight: 700;
}

.nav-link {
    padding: 1rem;
    transition: 750ms ease-in-out;
}

.nav-link a {
    text-decoration: none;
    color: #000000;
    text-transform: capitalize;
    filter: drop-shadow(0px 5px 1px rgba(0, 0, 0, 0.25));
}

.active,
.nav-link:hover {
    border-radius: 0.05rem 0.05rem 0.5rem 0.5rem;
    background: #2E9AD6;
}

/* Page specific css */

/* About Me page */

.work-ethics,
.goals {
    background: linear-gradient(180deg, #2E9AD6 0%, rgba(224, 185, 84, 0.00) 100%);
}

.outside-work,
.career {
    background: linear-gradient(180deg, rgba(224, 185, 84, 0.00) 0%, #2E9AD6 100%);
}

.page-info div p:last-child {
    margin-bottom: 0;
    padding-bottom: 0.5rem;
}

.page-info div p:first-child {
    margin-top: 0;
    padding-top: 0.5rem;
}

.page-info div {
    border-bottom: 1px solid black;
}